# Node
node_modules/
.env
dist/
.vite/
.next/
.cache/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Prisma
prisma/dev.db
prisma/dev.db-journal
prisma/migrations/*/README.md

# Vite
*.local
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Test coverage
coverage/